body {
  background-color: #F8D043;
  font-family: Didot;
  text-align: center;
}

div {
  border: 5px solid #F87203;
  display: inline-block;
}

img {
  border-radius: 25%;
  border: 10px solid #F8D043
}

.inspiration {
  background-color: #4D9F73;
  height: 700px;
  width: 900px;
  font-size: 20px;
  display: incline-block;
}

#title {
  font-size: 50px;
  background-color: #F87203;
  color: #F8D043;
  padding: 20px;
}

.palette{
  background-color: white;
  width: 900px;
}

.dot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}

.dot.one {
  background-color: #F8D043
}

.dot.two {
  background-color: #F87203
}

.dot.three {
  background-color: #39524F
}

.dot.four {
  background-color: #819F76
}

.dot.five {
  background-color: #4D9F73
}

#square {
  height: 100px;
  width: 100px;
  background-color: #F87203;
  display: inline-block
}
